.App {
  background-color: #71c7ec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 800px;
  border: 1px solid darkblue;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px darkblue;
}
